

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login into base</title>
</head>
<body>

<h2>Login into base</h2>
<form action="#" th:action="@{/login}"  method="post">


  <label for="email">Email</label>
  <input type="email"  id="email" placeholder="email">
  <br>

  <label for="password">Password</label>
  <input type="password"  id="password" placeholder=" password ">
  <br>
  <br>



  <br>
  <br>
  <input type="submit" value="Login">
</form>
</body>
</html>